.card{
  max-width: 25vw;
  min-width: 150px;
  margin:auto;
  margin-bottom: 10px;
}
body {
  background-image: url("https://lh3.googleusercontent.com/drive-viewer/AK7aPaD9jeXa6-E5F5CUo1AzjY8dOpvJM9Tk87qJYft5qTTSN4D2MGAsdDtE4zfwiNdbpePSJAAmjsDNiTbxOE_eOyMfTe8BxA=s1600");
  background-color: #cccccc;
  background-size: cover;
  font-family: 'Abril Fatface';
  font-size: 22px;
 }
 h1,h3{
  color:white;
  text-align: center;
 }

 iframe{
  border-radius: 40px;
  display: block;
  margin: auto;
  margin-top: 15px;;
  width:80%;
  max-width: 560px;
  aspect-ratio: 560/315;
  box-shadow: 2px 2px 10px grey;

 }

 .row{
  align-items: center;
  justify-content: center;
 }
select{
  max-width: 300px;
  margin: auto;
}
.videoThumbnail{
  width: 15vw;
  transition: width 0.2s ease;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px grey;
}
.videoThumbnail:hover{
  width: 20vw;
}
#videoOptionsContainer{
  height: 21vw;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
  max-width:90%;
  margin:auto;
  flex-wrap: wrap;
}
img{
  border-radius: 2rem;
}